<div class="main-content main-content-mobile">
    <div class="container-fluid">
      <div class="col-12">
        <div class="card">
            <div class="card-header card-header-danger text-center" >
                <h4 class="card-title">ABC JOBS</h4>
                <p class="card-category" >{{'LOGIN_COMPANY.title'|translate}}</p>
            </div>
        </div>
        <div>
          <form
          [formGroup]="loginEmpresaForm"
          (ngSubmit)="!loginEmpresaForm.invalid && loginEmpresa(usuario.value, clave.value)"
          >
            <div>
                <div class="col-12" style="margin-top: 15%">
                    <mat-form-field class="example-full-width">
                      <input #usuario novalidate matInput placeholder="{{'LOGIN_COMPANY.inputUser'|translate}}" formControlName="usuario" required i18n-placeholder="User input placeholder@@UserInputLabel">                        
                    </mat-form-field>
                </div>
                <div class="col-12" style="margin-top: 15%">
                    <mat-form-field class="example-full-width">
                      <input #clave novalidate matInput placeholder="{{'LOGIN_COMPANY.inputPassword'|translate}}" [type]="hide ? 'password' : 'text'" formControlName="clave" required i18n-placeholder="Password input placeholder@@PasswordInputLabel">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    
                </div>
                <div class="col-12 text-center" style="margin-top: 20%">
                    <a i18n="Password forgotten label@@passwordForgottenLabel">{{'LOGIN_COMPANY.forgot'|translate}}</a>
                </div>
                <div class="row absolute bottom-0">
                  <div class="col-6">
                    <button mat-raised-button class="btn btn-danger login_button" i18n="Create account button label@@CreateAccountButton" [disabled]="true">{{'LOGIN_COMPANY.create'|translate}}</button>
                  </div>
                  <div class="col-6">
                      <button 
                      mat-raised-button class="btn btn-danger login_button" 
                      type="submit" 
                      [disabled]="!loginEmpresaForm.valid" i18n="LogIn button label@@LogInButton">{{'LOGIN_COMPANY.login'|translate}}</button>
                  </div>
                </div>
            </div>
            <div class="clearfix"></div>
          </form>
      </div>
    </div>
    </div>
  </div>
  <div class="copyright pull-right" style="margin-right: 5%;">
    <div style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;">
        <mat-icon>translate</mat-icon> 
        <select style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;" #selLang (change)="translateLanguageTo(selLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
        </select>
    </div>
  </div>