p{
    text-align: center;
    font-size:large;
    color: rgba(80, 80, 80);
}

mat-form-field{
    font-size: 10px;
    &.mat-focused{
        font-size: 10px;
    }
    .mat-input-element{
        width: 100%;
        font-size: 10px;
    }
    &::placeholder{
        font-size: 5px;
        color: rgba(230, 230, 230);
    }
 }