button {
    width: 100%;
    height: 60%;
    padding: 0px;
}

::ng-deep {
    .mat-dialog-container{
      box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
      background: #ECECEC;
      font-size: smaller;
      color: #8D8D8D;
    }
}