<div class="main-content main-content-mobile" style="background-color:gray;">
    <div class="container-fluid">
        <div class="col-12">
            <div style="text-align:center; " >
                <div class="row absolute " style="color:white; text-align:center; ">
                    {{'CAMBIO.title'|translate}}
                </div>
                <div class="col-12" style="margin-top: 15%">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'CAMBIO.mail'|translate}}" [(ngModel)]="email" required>                        
                    </mat-form-field>
                </div>
                <div class="row" style="width: 130%;">
                    <button mat-raised-button class="btn btn-danger" i18n="Create account button label@@CreateAccountButton" (click)="close()">{{'CAMBIO.close'|translate}}</button>
                    <button mat-raised-button class="btn btn-danger" i18n="LogIn button label@@LogInButton" (click)="send()">{{'CAMBIO.send'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copyright pull-right" style="margin-right: 5%;">
    <div style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;">
        <mat-icon>translate</mat-icon> 
        <select style="border-radius: 5px; background-color:red; color: white; padding-left: 2px; padding-right: 2px;" #selLang (change)="translateLanguageTo(selLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
        </select>
    </div>
  </div>